*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
a{
    text-decoration: none!important; 
    color:black
}

/* CSS Document */
body{
    font-family: 'Poppins', sans-serif; 
     color: #4B4B4B; 
     font-size: 15px;
     overflow-x: hidden;}
    
h1,h2,h3,h5,h6{
    font-family: 'Abhaya Libre', serif; 
    }
.p-12{ font-size: 12px} .p-14{ font-size: 14px} .p-18{ font-size: 18px} .p-20{font-size: 20px!important;
}
@font-face {
    font-family: 'Homework';
	  src: url(fonts/HomeworkRegular.eot);
    src: url(fonts/HomeworkRegular.eot?#iefix) format('embedded-opentype'),
        url(fonts/HomeworkRegular.woff2) format('woff2'),
        url(fonts/HomeworkRegular.woff) format('woff'),
        url(fonts/HomeworkRegular.ttf) format('truetype'),
        url(fonts/HomeworkRegular.svg#HomeworkRegular) format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.gcu{ color: #7F7F7F; text-decoration: line-through; margin-left: 15px}


.headerimg{	background: url("img/pricing-title-img.jpg") no-repeat center ; 
	min-height: 500px; 
}
.headerblog{	background: url("img/our-team-title-img.jpg") no-repeat center top; 
	min-height: 550px; 
}
.headerabout{	background: url("img/h1-background-img-2.jpg") no-repeat center top; 
	min-height: 550px; 
}
.headercontact{	background: url("img/contact-title-img.jpg")center/cover   ; 
	min-height: 550px; 
}
.headerabout p, .headerabout.tieude-trang, .headerabout hr{
    transform: translateY(50px);
}
.tieude-trang{   
	font-family: 'Homework'; font-size: 92px; color:#fff;
padding-top: 80px;
}

.tieude-trang p{
	font-family: Poppins;
	color: #ddd; font-size: 30px}
aside .nav-link{ color: #666; border-bottom: 1px solid #ddd; padding:15px 0}
/* background: url("images/nav-link-dot.png") no-repeat 2% center; padding: 20px; padding-left: 30px;} */
aside .nav-link:hover{
     /* background: url("images/.png") no-repeat 2.9% center; */
	color: 
    #e0a606; 
    transform: translateX(5px);
}
aside #a-3 a{ font-size: 24px; color: #333}
aside #a-3 a:hover{ text-decoration: none;color: #FC5CBA;}
footer{ background: #4B4342; padding-top:40px}

.odn{
    position: relative;
}
.odn a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.odn button{
    background-color: transparent;
    border: 1px solid white!important;
    padding: 12px 50px !important;
}
.odn button:hover{
    background-color: black;
    border: none!important;
}


nav{
    background-color: white;
}

.nav-item{
    /* border-right: 1px solid rgb(180, 177, 177); */
    padding: 0px 10px;
}

.navbar-light .navbar-nav .nav-link{
    padding:0;
    margin: 7px 10px
    /* padding: 5px 15px; */
   
}

.dropdown-menu{
    border:none;
}

.banner button{
background-color: #eecf78;
border:none;
color:black
}
.banner button:hover{
background-color: transparent;
    border:1px solid  #eecf78;
}
.carousel-control-prev{
    color: black !important;
   
}

.cardhover{
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    /* border:10px solid greenyellow; */
}


.modal-cream{
  overflow: hidden;
  height:500px;
  padding: 0 !important;
}
.modal-dialog{
    max-width: 800px!important;
}
.modal-body{
    padding: 0 !important;
}
.modal-body .close{
    padding: 10px !important;
}
.be1st{
padding: 50px!important;

}







header{
    position: relative;
    height: 100vh !important;;
    width: 100vw!important;
    overflow: hidden;
}
nav,.banner{
    position: absolute;
    top:0
}
nav{
    z-index: 12;
}

.caphead{
    position: absolute;
    top:35%;
    right:15%;
    z-index: 2;
    width: 28%;
    
}

.mainbutton{
    background-color: rgb(26, 26, 26);
    border-radius: 0;
    border: none !important;
    padding: 15px 70px !important;
    transition: all 0.3s ease;
}
.mainbutton:hover{
    background-color: #ddb352;
}
.p-18{
    font-size: 18px;
}

.hrmain{
    width: 150px;
     margin-top:30px;
     margin-bottom: 35px;
    border-top: 1px solid #c9a74d;
}
footer{
    background-color:  #070707;
}
.ft{
    height: 50vh!important;
    padding-left: 200px!important;
    padding-right: 200px!important;
}
.section1 .container-fluid{
    max-width: 1300px;
}
.tit{
    padding: 0 15%!important;
    margin:auto;
    margin-bottom: 60px;
}
.section1{
    background: url(img/h1-background-img-1.jpg) center/cover;
    /* height:60vh */
}
.section1{
    padding: 150px 0
}
 .chu{
    font-family: 'Homework'!important; 
    font-size: 92px;
}


.section2{
    background: url(img/h1-parallax-1.jpg) center/cover;
    padding: 100px 0!important
}
@media (min-width:768px){
    .v2 img{
        position: relative ;
        transform: translate(-50%);
        left:50%;
    }

    .section4 img{
        transform: translateY(-100px);
       
    }
}


#fade-quote-carousel.carousel {
    padding-bottom: 60px;
  }
  #fade-quote-carousel.carousel .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
        -ms-transition-property: opacity;
            transition-property: opacity;
  }
  #fade-quote-carousel.carousel .carousel-inner .active {
    opacity: 1;
    -webkit-transition-property: opacity;
        -ms-transition-property: opacity;
            transition-property: opacity;
  }
  #fade-quote-carousel.carousel .carousel-indicators {
    bottom: 10px;
  }
  #fade-quote-carousel.carousel .carousel-indicators > li {
    background-color: #e84a64;
    border: none;
  }
  #fade-quote-carousel blockquote {
      text-align: center;
      border: none;
  }
  #fade-quote-carousel .profile-circle {
      width: 100px;
      height: 100px;
      margin: 0 auto;
      border-radius: 100px;
  }

  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
.section3 .container-fluid{
    background: url(img/h1-background-img-2.jpg) no-repeat center;
}

.section3 p{
    max-width: 500px;
    margin:auto
}
.section3 .carousel-caption{ 
    position:absolute;top:0; color:#333;

        right: 15%;
        bottom: 1000px;
        left: 15%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
       
        text-align: center;
      }

.section3.carousel-inner {
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}
.section3 .carousel-indicators li{
    background-color: gray;
}
.section3 #myCarousel{
    max-width: 1100px;
   
    margin: auto;
}
.section3 .carousel-indicators{
    bottom: 0px!important
}

@media screen and  (max-width:444px) {
    
    .carousel-inner img {
        width: 100vw;
        height: 46vh;
      }
   
}
@media screen and (min-width:441px) and (max-width:600px) {
    .carousel-inner img {
        width: 100vw;
        height: 30vh;
      }
   
}
@media screen and (min-width:601px) and (max-width:800px) {
    .carousel-inner img {
        width: 100vw;
        height: 30vh;
      }
   
}

.shop1 .form-control,.btn{
    bordeR: 1PX SOLID #c9a74d;
 font-size: 14px;

}
.shop1 input{
    padding: 25px 15px
}
.shop1 button{
    padding: 0 15px
}

.section4 .s4text{
    max-width: 700px;
    margin: auto 0 auto;
}
.section4 .s5text{
    max-width: 700px;
    margin: auto 0 auto auto

}

.section4{
    background-color: 
    #fdfbf6;
}
.section4 img{
    transform: translateY(-50px);
   
}
@media (max-width:768px){
 

    .section4 img{
        transform: translateY(20px)!important;
        /* width:85% */
       
    }
    .tlx{
        transform: translate(20px,-30px);
    }
}


.section5{
    background: url("img/h1-parallax-2.jpg") center / cover;
    background-attachment: fixed;
    padding:100px 0
}
.section5 .tit p{
    max-width: 700px;
    margin: auto;
    
}
.section5 .s5r{
    max-width: 1300px;
    margin: auto;
}

 .nopad,.ac {
    padding: 0px!important;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.s6t, .snsteam{
    top:40%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: all 0.6S ease;
    z-index: 1;
    width: 100%;
}
 .nopad:hover .s6t,  .nopad:hover .snsteam{
    TOP:50%;
    opacity: 1;
    }
.nopad:hover  img{
        transform: scale(1.1);
        transition: all 0.8S ease;
    }
.nopad:after{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content:"";
    background-color: rgba(34, 33, 33, 0.4);
    transition: all 0.8S ease;
   opacity: 0;
}
.ac:after{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content:"";
    background-color: #c9a84dd5!important;
    transition: all 0.8S ease;
    opacity: 0;
}

.shop-item-button:hover{

color: rgb(32, 32, 32)!important;

}
.nopad:hover:after{
    opacity: 1;
}





.about1{
    min-height: 400px;
    background:url("img/About/about-us-parallax-1.jpg") no-repeat center 
}
.about1 .container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  @media (max-width:500px){
    .about1 .container{
        padding: 0 100px
    } 
  }
  .counter {
    text-align: center;
  }
  
  
  .counter .counter-timer {
    font-weight: 400;
    font-size: 54px;
  }
  
  .counter .counter-title {
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 18px;
  }
  
  .counter #percent::after {
    content: "%";
    font-size: 35px;
    font-weight: 600;
  }

  .about2{
      padding: 100px 0
  }

  .about{
      padding:100px 0
  }

  .about3{
      background: url("img/About/our-process-title-img.jpg") center/ cover;
      background-attachment: fixed;
      padding: 100px 0;
   
  }
  .about3 img{
   width: 80%;;
        transform: translateY(0px)!important;
       
  }
  @media screen and (max-width: 1400px){
    .about3 img{
        display: none !important;
    }
  }
  .about4{
      background: url("img/About/our-process-background-img-1.jpg") center / cover;
      padding:100px 0;
      
  }
  .about4 .container-fluid{
      max-width: 1300px;
  }
  .about4 p{
      max-width: 380px;
      margin: auto;
  }


  





  .contact{
      padding: 80px 0;
      background:url(img/contact-background-img.jpg) center
  }
  .contact .row{
      max-width: 1300px;
      margin: auto;
  }

  .blog .nav-item{
      /* border:0; */
      padding: 0 ;
  
  }
  .blog  .nav-link.active{
      /* color:#af6b06; */
      border-color:none
  }
  .blog  .nav-link{
      border:none
  }
  .blog .nav-tabs {
      border: none;
  }




  .section5   .nav-link.active{
      color: #ffad33 !important;;
      border-color:none;
      background-color: transparent
  }
  .section5  .nav-link{
      border:none;
      font-family: 'Poppins', sans-serif;  

  }
  .section5  .nav-tabs {
      border: none;
  }
  .section5 ul{
      margin: auto;
      width: 300px;
      margin-bottom: 50px;
 
  }

 .blog .mainbutton{
    background-color: rgb(56, 55, 54);
    padding: 12px 40px !important;

    
}
.blog .mainbutton:hover{
    background-color:  #ddb352;

}


.banner  img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
.banner .carousel-caption{

    color:#333;
    max-width: 550px;
    margin: auto;
}
@media screen and (min-width:300px) and (max-width:1000px) {
    .carousel-caption{
      transform: translate(0%,-50%)!important;
    }
   
   
  }
@media screen and (max-width:700px) {
    .chu{
        font-size: 60px;
    }
    .carousel-caption p{
        font-size: 14px;
    }
   
  }
@media screen and (min-width:1001px) {

    .dropdown-toggle::after{
        opacity: 0;
    }
    .bg-nav{
        background-color: transparent!important;
    }
    .link::after{
        position: absolute;
width: 100%;
height: 1px;
background: currentColor;
 top: 100%;
}
.link {
	cursor: pointer;
	position: relative;
	white-space: nowrap;
}

.link::before,
.link::after {
	/* position: absolute;
	width: 100%;
	height: 1px;
	background: currentColor; */
	top: 100%;
	left: 0;
	pointer-events: none;
}

.link::before {
	content: '';
    	position: absolute;
	width: 100%;
	height: 1px;
	background: currentColor;
	top: 100%;
	left: 0;
	pointer-events: none;
	/* show by default */
}

.link--metis::before {
	transform-origin: 100% 50%;
	transform: scale3d(0, 1, 1);
	transition: transform 0.3s;
}

.link--metis:hover::before {
	transform-origin: 0% 50%;
	transform: scale3d(1, 1, 1);
}
.activepage:before {
	transform-origin: 0% 50%;
	transform: scale3d(1, 1, 1);
}
  }
@media screen and (max-width:1001px) {
    .dropdown-toggle::after{
        opacity: 1;
    }
    .bg-nav{
        background-color: white!important;
        font-size: 14px!important;
    }
    .activepage {
        color: rgb(219, 176, 58) !important;
    }
  }

.blog h2{
    font-size:25px;
}
.blog .my-2{
    font-size: 13px;
    
}

.nob{
    border: none !important;
}




